* {
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

html body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 300;
    font-size: 3rem;
    color: rgb(206, 206, 206);
}

#city-name {
    border: none;
    border-radius: 5px;
    background-color: rgb(210, 236, 245);
    padding: 5px;
    outline: none;
}



main {
    
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(2, 15em);
    grid-template-rows: repeat(2, 15em);
    justify-content: center;
    gap: 20px;
    padding: 1em;
    width: 50%;
    
}

main > div {
    
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(250, 246, 246);
    /* background-color: white; */
    backdrop-filter: invert(20%);
    
    
}

.temp {
    display: flex;
    flex-direction: column;
    /* backdrop-filter: invert(10%); */
    
}

#temp {
    font-size: 3.5rem;
}

#toggle {
    -webkit-appearance: none;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background: rgb(6,5,84);
    background: linear-gradient(90deg, rgba(6,5,84,1) 0%, rgba(9,8,116,1) 0%, rgba(46,52,103,1) 35%, rgba(81,83,105,1) 70%, rgba(135,135,135,1) 100%);
    transition: background .3s;
    outline: none;
    cursor: pointer;
    

}

#toggle::after {
    content: "F";
    color: white;
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: inherit;
    width: 2rem;
    background-color: #060554;
    transition: left .3s;
}

#toggle:checked {
    background-color: #878787;
}

#toggle:checked::after {
    left: 74%;
    content: "C";
    color: rgb(97, 9, 9);
    font-size: 1.3rem;
    text-align: center;
    background-color: #878787;
}

#conditions {
    font-size: 3.5rem;
    font-weight: 600;
    font-style: italic;
    color: rgb(183, 180, 204);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
    
}

.humidity {
    
    display: flex;
    flex-direction: column;
    
}

#humidity {
    font-size: 3rem;
}

span {
    
    font-size: 1rem;
}

.wind {
    display: flex;
    flex-direction: column;
}

#wind {
    font-size: 2rem;
}

/* .hidden {
    display: none;
} */